/**
 * @file
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
 */
 


    



 /* Security Report Styling */

.p-caption {
    background: #f2f2f2;
    margin-top: 0;
    padding:3px;
}

.p-caption-content {
    font-style: italic;
    font-size: 12px;
}


.field-name-field-publishing-date {
    direction:ltr;
}

.field-name-field-wpaper-dossier {
    direction:ltr;
}

.view-about-the-authors {
    margin-top: 10px;
}

#about-author-header {
    font-weight: bold;
    background: #F5F5F1;
    font-size: 14px;
    border-bottom: 1px solid #d1d1d1;
    margin-top: 10px;
    padding-left:3px;
    padding-right: 3px;
    width:300px;
    border-top:1px solid #d1d1d1;
}

#about-author {
    text-align: justify;
    line-height: 20px;
    font-size: 13px;
    font-style: italic;
    width:300px;
    margin-top: 5px;
    border-bottom: 1px dotted #d1d1d1;
    background: #F5F5F1;
    padding-left:3px;
    padding-right: 3px;
    
}

#about-author p {
    padding:0;
    margin: 0;
}


.pdf-download {
    display:block;
    background: #F5F5F1;
    padding-left:0;
    padding-top:1px;
    padding-bottom:1px;
    margin-top:10px;
    font-weight: bold;
    font-size: 14px;
    
}

.pdf-download p {
    padding:0;
    margin:0;
}



.pdf-label {
    font-weight: bold;
    direction: ltr;
}


.abstract-label {
    display:block;
    background: #F5F5F1;
    padding-left:0;
    padding-top:3px;
    padding-bottom:3px;
    margin-top:10px;
    font-weight: bold;
    font-size: 14px;
    direction: ltr;
    
}

.abstract-text {
    
    font-family: serif,cursive;
    font-size: 14px;
    line-height: 25px;
    text-align: justify;
}

.author {
    display:block;
    background: #F5F5F1;
    padding-left:0;
    padding-top:3px;
    padding-bottom:3px;
    margin-top:10px;
    font-weight: bold;
    font-size: 14px;
    direction: ltr;
}

.author-label {
    font-weight: bold;
}

.author-element {
    margin-left:5px;
}

span.even.author-element:after {
    content:",";
}

span.cite-items.even.author-element:after {
    content:" and";
}
    
.cite {
    display:block;
    background: #F5F5F1;
    padding:5px;
    padding-bottom:3px;
    margin-top:10px;
    font-size: 14px;
    border:1px dotted #d1d1d1;
    direction: ltr;
    
}

.keywords-label {
font-weight: bold;
}

.keywords {
   display:block;
    background: #F5F5F1;
    padding-left:0;
    padding-top:3px;
    padding-bottom:3px;
    margin-top:10px;
    font-size: 14px;
    direction: ltr;
}

.keywords-items {
    font-style: italic;
    font-size: 13px;
}

.paper-full-text-label {
    display:block;
    background: #F5F5F1;
    padding-left:0;
    padding-top:3px;
    padding-bottom:3px;
    margin-top:35px;
    font-size: 14px;
    font-weight: bold;
    direction: ltr;
}

.f-c {
    display: none;
}
    

.node-paper {
    padding: 10px;
}

.paper-image img {
    width:700;
    margin-top: 10px;
}

.paper-body {
    font-family: serif,cursive;
    font-size: 16px;
    line-height: 25px;
}

.footnote {
    font-size: 12px;
}

.footnotes {
    line-height: 15px;
}
 
 #security-report-node .field-name-body {
text-align:justify;
	 border:1px dotted #000;
	background-color:#f2f2f2;
	padding:5px;
 }
 
 #security-report-node .pane-title {
	 font-size:18px;
	 line-height:20px;
 }
 
 
 
.vp-box {
	background:#f2f2f2;
	border:1px dotted #333333;
	padding:5px;
}

.info-box {
	border:1px dotted #0071BC;
}

.report-text {
	padding:5px;
}

.hrms-body {
	padding-right:15px;
	padding-left:5px;
	width:450px;
	border:1px dotted #000;
	background-color:#f2f2f2;
}

.field-name-field--rep-date-of-violation {
	border-top:1px solid #000;
	width:450px;
	padding-top:10px;
}

#hrv-tag {
display:block;
background:#f2f2f2;
font-weight:bold;
font-size:14px;
padding:5px;	
}

.report-author {

}

.report-label {
	font-weight:bold;
}

.group-right {
margin:0;
}
.group-left {
margin:0;
}
/*
.form-item-body-und-0-value {
	width: 400px;
}

#edit-body-und-0-format {
	width: 400px;
}

#field-rep-date-of-violation-add-more-wrapper {
	width: 400px;
}*/

.node { /* Node wrapper */
}

.preview .node { /* Preview of the content before submitting new or updated content */
  /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
}

.node .node-title { /* Node title */
}

.node .user-picture { /* The picture of the node author */
}

.node .submitted { /* The "posted by" information */
}

.node .content { /* Node's content wrapper */
}

.node ul.links { /* Node links. See also the ul.links declaration in the pages.css. */
}

.node-promoted { /* A node that has been promoted to the front page */
}

.node-sticky { /* A sticky node (displayed before others in a list) */
}

.node-by-viewer { /* A node created by the current user */
}

.node-teaser { /* A node displayed as teaser */
}

/*
 * All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 */

.node-page { /* Page content node */
}

.node-article { /* Article content node */
}

.node-unpublished { /* Unpublished nodes */
  /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
}

.node-unpublished p.unpublished,
.comment-unpublished p.unpublished { /* The word "Unpublished" displayed underneath the content. */
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word; /* A very nice CSS3 property */
}

.lt-ie8 .node-unpublished p.unpublished > *,
.lt-ie8 .comment-unpublished > * {
  position: relative; /* Otherwise these elements will appear below the "Unpublished" text. */
}
