/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */


/*
 * Body
 */



.map-details-box {

    margin-top: 10px;
    border:1px dotted #000;
    padding:5px;
    background-color: #f2f2f2;

}

#cma-chart {

    width:600px;
}
/* Conflict Mapping & Analysis */
#cma-header {
    background-image: url('http://cskc.daleel-madani.org/images/cma_banner.jpg');
    width:960px;
    height:373px;
}

#cma-header-brand {
    background-image: url('http://cskc.daleel-madani.org/images/cma_banner.jpg');
    width:960px;
    height:255px;
}
#cma-title {
 background: #FF6633;
 padding-left:5px;
 padding-right:5px;
 padding-top:10px;
 padding-bottom:10px;
 font-family:Georgia, "Times New Roman", Times, serif;
 font-size: 25px;
 color:#fff;
 margin-bottom: 10px;
    width:580px;
}

#branding-box {
width:300px;
    margin-top: 10px;

}

#branding-title {
    font-size: 15px;
    font-style: italic;
    font-family:Georgia, "Times New Roman", Times, serif;
    color: #fff;
    font-weight: bold;
    display: block;
    background-color: #575756;
    padding:5px;
}

#branding-img {
    border:1px dotted #000;
    background-color: #f2f2f2;
    padding:3px;
}

#branding-img img {
    width:285px;
}


#conflict-legend {
    border:1px dotted #000;
    background-color: #f2f2f2;
    padding:5px;
    margin-bottom: 7px;
    margin-top:5px;
  /*  height:200px;*/
}
/* CMA MAP  Block */
#cma-map-header {
      background:#36A9E0;
    padding:5px;
    font-size: 18px;
    color:#fff;
    /*margin-left: 5px;*/
}

#cma-map-box {
    background: #f5f5f5;

    padding:5px;

    margin-bottom: 15px;
}

#cma-map-img img {
    width:300px;
    margin-bottom:5px;

}

#cma-map-title a {
    font-size: 22px;
    font-family:Georgia, "Times New Roman", Times, serif;
    color:#000;
    line-height: 28px;
    padding-left: 5px;
    display: block;
}

#cma-map-details {
    font-size:14px;
    font-family:Georgia, "Times New Roman", Times, serif;
    padding-left: 5px;
}
/****** END CMA MAP BOX *************/
/*** Anaytical reports ****/
#reports-cma-header {
    /*width:310px;*/
    background:#009640;
    padding:5px;
    font-size: 18px;
    color:#fff;
    margin-bottom: 10px;
}
/******* End Analytical Reports *******/
/******* Spot on Actors *******/
#spot-cma-header {
   /* width:310px;*/
    background:#36A9E0;
    padding:5px;
    font-size: 18px;
    color:#fff;
  margin-bottom: 10px;
}
#actors-cma-block {
margin-bottom: 20px;
display:flex;
align-items: center;
display: -webkit-flex; /* Safari */
}
#actors-cma-block div {
-webkit-flex: 1;  /* Safari 6.1+ */
    -ms-flex: 1;  /* IE 10 */
    flex: 1;

    }
#actors-block-title {
 font-size: 15px;
 margin-left:10px;
}
#actors-cma-block img {
max-width: none;
}
/********  End Spot on Actors *********/
/** Reasearch and Analysis **/
#cma-ra-header {
   /* width:314px;*/
    background:#009640;
    padding:5px;
    font-size: 18px;
    color:#fff;
}
#cma-fpaper {
    background: #f5f5f5;
  /*  width:310px;*/
    padding:5px;
}

#cma-fimage img{
    width:300px;
  /*  padding-left: 5px;*/
}
#cma-ftitle a {
    font-size: 25px;
    font-family:Georgia, "Times New Roman", Times, serif;
    color:#000;
    line-height: 28px;
}
#cma-details {
    margin-top: 10px;
    font-size:14px;
    font-family:Georgia, "Times New Roman", Times, serif;
    font-weight: 400;
    margin-bottom: 0;
}

#cma-fdescription {
    font-size:14px;
    font-family:Georgia, "Times New Roman", Times, serif;
}
/*** END CMA RA **/
/***** CMA Block Styling **********/
#cma-block {
margin-bottom: 20px;
}
#cma-block-title {
 font-size: 15px;

}
#cma-block img {
     width: 80px;
  max-height: 80px;
  /* float: left; */
  padding-left: 5px;
  padding-right: 5px;
  display: block;
  /* background: #575756; */
  margin-right: 5px;
  margin-bottom: 18px;

}
#cma-block-author {

}
#cma-block-body p {
text-align: justify;
  margin: 0;
  padding: 0;
}

/******* CMA Block end *****/
/*********** Numbers and Figures Block CMA ************ #575756 ***/

#num-cover img {
    width:80px;
    max-height: 80px;
    float:left;
    padding-left: 5px;
    padding-right:5px;
    display: block;
    background:#FFFFFF ;
    margin-right: 5px;
    margin-bottom:15px;
}

#num-content {
    width:220px;
    font-size: 13px;
    margin-left: 85px;
    margin-bottom:65px;
}
#num-title {
font-size:15px;
}
/* END OF CMA */

/*************** Lebanon's Legacy of Political Violence HCMA *****************/

#spot-hcma-header {
    /* width: 310px; */
    background: #36A9E0;
    padding: 5px;
    font-size: 18px;
    color: #fff;
    margin-bottom: 10px;
    margin-top: 10px;

}
#resources-hcma-header {
    /*width:310px;*/
    background:#009640;
    padding:5px;
    font-size: 18px;
    color:#fff;
    margin-bottom: 10px;
    margin-top:10px;
}

/**************** END OF HCMA *********************/

/* Humanitarian Information Knowledge Base */

#hum-header {
    background-image: url('http://cskc.daleel-madani.org/images/HUMpage-banner.jpg');
    width:960px;
    height:373px;
}

#hum-header-brand {
    background-image: url('http://cskc.daleel-madani.org/images/HUMpage-banner.jpg');
    width:960px;
    height:255px;
}

#hum-title {
 background: #0047f5;
 padding-left:5px;
 padding-right:5px;
 padding-top:10px;
 padding-bottom:10px;
 font-family:Georgia, "Times New Roman", Times, serif;
 font-size: 25px;
 color:#fff;
 margin-bottom: 10px;
    width:580px;
}
#res-hum-header {
     width: 299px;
  background: #0047f5;
  padding: 5px;
  font-size: 18px;
  color: #fff;
  margin-left: 16px;
}
#hum-ra-header {
  width: 314px;
  background: #009640;
  padding: 5px;
  font-size: 18px;
  color: #fff;
  }

 #hum-home a {
    font-family:Georgia, "Times New Roman", Times, serif;
    width:265px;
     padding-left:5px;
 padding-right:5px;
 padding-top:10px;
 padding-bottom:10px;
    background: #0047f5;
    font-size: 14px;
    color:#fff;
    margin-top: 10px;
    display: block;

}

/* End of HUM */

/* Gender Equity Network Styling */

#gen-paper-brand {
    background-image: url('http://cskc.daleel-madani.org/images/box-papers-branding.jpg');
    width:300px;
    height:152px;
}

#gen-paper-brand-title {
    background: #A2195B;
 padding-left:5px;
 padding-right:5px;
 padding-top:5px;
 padding-bottom:5px;
 font-family:Georgia, "Times New Roman", Times, serif;
 font-size: 18px;
 color:#fff;
 margin-bottom: 10px;
    line-height: 20px;
}

#gen-paper-brand-back a {
    font-family:Georgia, "Times New Roman", Times, serif;
     padding-left:5px;
    width:226px;
 padding-right:5px;
 padding-top:5px;
 padding-bottom:5px;
    background: #f5f5f5;
    font-size: 14px;
    color:#000;
    margin-top: 10px;
    display: block;
}

#gen-header {
    background-image: url('http://cskc.daleel-madani.org/images/background-gen.jpg');
    width:960px;
    height:373px;
}

#gen-header-brand {
    background-image: url('http://cskc.daleel-madani.org/images/background-gen.jpg');
    width:960px;
    height:255px;
}

#gen-home a {
    font-family:Georgia, "Times New Roman", Times, serif;
    width:230px;
     padding-left:5px;
 padding-right:5px;
 padding-top:10px;
 padding-bottom:10px;
    background: #A2195B;;
    font-size: 14px;
    color:#fff;
    margin-top: 10px;
    display: block;

}

#gen-fpaper {
    background: #f5f5f5;
    width:310px;
    padding:5px;
}

#gen-fimage img{
    width:300px;
    padding-left: 5px;
}
#gen-ftitle a {
    font-size: 25px;
    font-family:Georgia, "Times New Roman", Times, serif;
    color:#000;
    line-height: 28px;
}

#gen-details {
    margin-top: 10px;
    font-size:14px;
    font-family:Georgia, "Times New Roman", Times, serif;
    font-weight: 400;
    margin-bottom: 0;
}

#gen-fdescription {
    font-size:14px;
    font-family:Georgia, "Times New Roman", Times, serif;
}

#gen-fdescription p {
    margin-top:5px;
}

#gen-ra-header {
    width:314px;
    background:#009640;
    padding:5px;
    font-size: 18px;
    color:#fff;
}

#gen-map-header {
    width:310px;
    background:#36A9E0;
    padding:5px;
    font-size: 18px;
    color:#fff;
    margin-left: 5px;
}

#cma-bulletin-header {

    background:#36A9E0;
    padding:5px;
    font-size: 18px;
    color:#fff;

margin-top:10px;
}

#gen-map-box {
    background: #f5f5f5;
    width:310px;
    padding:5px;
    margin-left: 5px;
    margin-bottom: 15px;
}

#gen-map-img img {
    width:300px;
    margin-bottom:5px;
    padding-left: 5px;
}

#gen-map-title a {
    font-size: 22px;
    font-family:Georgia, "Times New Roman", Times, serif;
    color:#000;
    line-height: 28px;
    padding-left: 5px;
    display: block;
}

#gen-map-details {
    font-size:14px;
    font-family:Georgia, "Times New Roman", Times, serif;
    padding-left: 5px;
}

#gen-title {
 background: #A2195B;
 padding-left:5px;
 padding-right:5px;
 padding-top:10px;
 padding-bottom:10px;
 font-family:Georgia, "Times New Roman", Times, serif;
 font-size: 25px;
 color:#fff;
 margin-bottom: 10px;
    width:580px;
}

#gen-description {
    font-family:Georgia, "Times New Roman", Times, serif;
    width:580px;
     padding-left:5px;
 padding-right:5px;
 padding-top:10px;
 padding-bottom:10px;
    background: #f2f2f2;
    font-size: 14px;
    color:#000;

}

.pane-pretty-calendar-calendar {
    width:300px;
    padding:5px;
    margin-left: 15px;
}

#gen-partners-title {
    width:300px;
    margin-left: 15px;
    margin-bottom: 10px;
    background:#A2195B;
    padding:5px;
    font-size: 18px;
    color:#fff;
}

.gen-partners-item {
    background: #f5f5f5;
    width:300px;
    padding:5px;
    margin-left: 15px;
    margin-bottom: 7px;

}
.gen-newsletter-item {
/*background: #f5f5f5;*/
 /*   width:310px;*/
    padding:5px;
/*    margin-left: 5px;*/
  /*  margin-bottom: 10px;*/
}

#gen-resources {
    background: #f5f5f5;
    width:300px;
    padding:5px;
    margin-left: 15px;
    height:144px;
  /*  border-bottom: 1px dotted #000;  */
}
#gen-res-title {
font-size: 16px;
}
#gen-resources-grid {
    background: #f5f5f5;
    width:300px;
    padding:5px;
    margin-left: 5px;
    height:120px;
  /*  border-bottom: 1px dotted #000;*/
}

#gen-res-cover img {
    width:80px;
    max-height: 80px;
    float:left;
    padding-left: 5px;
    padding-right:5px;
    display: block;
    background: #575756;
    margin-right: 5px;
    margin-bottom:15px;
}

#gen-res-content {
    width:220px;
    font-size: 13px;
    margin-left: 85px;
    margin-bottom:15px;
}

#gen-res-header {
    background: #f5f5f5;
    width:300px;
    padding:5px;
    margin-left: 15px;
    border-top: 5px solid #000;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

#gen-res-header-title {
 padding-right:5px;
 padding-top:5px;
 padding-bottom:10px;
 font-family:Georgia, "Times New Roman", Times, serif;
 font-size: 25px;
 color:#000;
}

#gen-res-header-logo img {
    float:left;
    display: block;
    margin-right:10px;

}

#gen-res-header-details {
    margin-left:95px;
}


#gen-latest-res {
    font-size: 14px;
    margin-left: 15px;
    border-bottom: 1px solid #000;
    width:300px;
}
/*** Gender Numbers and Figures Styling */
#gen-num-header {
width: 300px;
background: #36A9E0;
padding: 5px;
font-size: 18px;
color: #fff;
margin-left: 15px;
margin-top:35px;
}

#gen-num {
margin-left: 10px;
margin-top:10px;
}
/*** END OF Gender Numbers and Figures Styling */


/* Gender Equity Network Styling : END */


/* Actor Profile Styling: Begin */
#actor-emblem img {

    float:left;

    display: block;
  }
  #cma-page-content {
/*width: 220px;*/
font-size: 16px;
/* margin: 15px; */

padding: 10px;
}
  #cma-actors-page {
    background: #f5f5f5;
   width:300px;
   /*  padding:4px;
    margin-left: 10px;*/
    margin-bottom:10px;
    height:83px;
 /*   border-bottom: 1px solid #575756;*/
}
#cma-actors-emblem {

}
#cma-actors-emblem img {
    width:117px;
    max-height: 73px;
    float:left;
    /*padding-left: 5px;
    padding-right:5px;*/
    display: block;
  /*  background: #575756;*/
    padding: 5px;
    margin-right: 5px;
    }
/* Actor Profile Styling End */
/*** Nivo Slider Header ****/
#gen-slider-title {
    background: #A2195B;
    width: 299px;
    padding: 5px;
    font-size: 18px;
    color: #fff;
    margin-left: 16px;
}


/* Conflict Mapping & Analysis Styling */




#datatable-1 {
    font-size:10px;
}

 #top-menu {

	background-color: #F5F5F1;
	padding-bottom: 5px;
	padding-top: 5px;
	border-bottom: 1px solid #666666;
	border-left: 1px solid #666666;
	border-right: 1px solid #666666;
	color: #666666;
	height: 20px;
	width: 930px;
	padding-left: 10px;
	padding-right: 10px;
}

#top-left {
	float: left;
	display: block;
	font-size: 13px;
}

#top-right {
	float: right;
	display: block;
	font-size: 13px;
}

h1 {
	font-size:25px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	border-bottom:1px solid #000;
}

body {
  margin: 0;
  padding: 0;
    background-color: #F5F5F1;
}

#page {
   /* box-shadow: 5px 5px 5px 5px #d1d1d1;*/
box-shadow: 10px 0 4px -4px #d1d1d1 , -10px 0 4px -4px #d1d1d1;
 -moz-box-shadow: 10px 0 4px -4px #d1d1d1, -10px 0 4px -4px #d1d1d1;
-webkit-box-shadow: 10px 0 4px -4px #d1d1d1, -10px 0 4px -4px #d1d1d1;
    background-color: white;
    padding:10px;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */

#skip-link {
  margin: 0;
}
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */

#header {
	margin-bottom:10px;

}

#logo { /* Wrapping link for logo */
  float: left; /* LTR */
  margin: 0;
  padding: 0;

}
#logo img {
  vertical-align: bottom;
}

#name-and-slogan { /* Wrapper for website name and slogan */
  float: left;
}

#site-name { /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
}
#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}
#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

#site-slogan { /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

.region-header { /* Wrapper for any blocks placed in the header region */
  clear: both; /* Clear the logo */
}

/*
 * Main (container for everything else)
 */

#main {
}

/*
 * Content
 */

#content {
	margin-top:30px;
}

.region-highlighted {
}

.breadcrumb {
margin-bottom:5px;
background-color:#E6E6E6;
padding-left:3px;
/* The path to the current page in the form of a list of links */
}
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;

}

.breadcrumb li a {
	font-size:13px;
  color:#666666;
  text-decoration:none;

}

.breadcrumb li a:hover {
	text-decoration:underline;
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title { /* Comment title */
  margin: 0;
}

tr.even { /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages { /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */
}
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

div.status { /* Normal priority messages */
}

div.warning,
tr.warning { /* Medium priority messages */
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error { /* High priority messages. See also the .error declaration below. */
}

.error { /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning { /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

.tabs { /* See also the tabs.css file. */
}

.region-help { /* Help text on a page */
}

.more-help-link { /* Link to more help */
}

.region-content { /* Wrapper for the actual page content */
}

ul.inline { /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0; /* LTR */
}

span.field-label { /* The inline field label used by the Fences module */
  padding: 0 1em 0 0; /* LTR */
}

.item-list .pager { /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
.item-list .pager li { /* Each page number in the pager list */
  padding: 0 0.5em;
}

.feed-icon { /* The link to the RSS or Atom feed for the current list of content */
}

.more-link { /* Aggregator, blog, and forum more link */
margin-bottom:15px;
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */

.region-sidebar-first {
	margin-top:30px;
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */

.region-sidebar-second {
	margin-top:30px;
}

/*
 * Footer
 */

#footer-block {
    margin-top: 10px;
    background-color: #36A9E0;
    color:white;
    border-top:3px solid #66A935;
    padding: 10px;
    font-size: 13px;

}

#footer-block a {
    color:white;
    text-decoration: none;
}

/*
 * Page bottom
 */

.region-bottom { /* Wrapper for any blocks placed in the page bottom region */
}

/******** Filters Hacks *************/
#edit-field-specific-category-type-tid.form-select {
width:300px;
}

/******** End of Filters Hacks ************/

/***** Page Hacks *******/
#page-title {
margin-bottom:5px;
}
/******** Hack for gen nivo block ********/
.theme-light.slider-wrapper {
    margin-left:22px;
    margin-bottom:10px;

}
/******************* Hack for HCMA Filters ***************/
#edit-field-security-incident-category-tid {
width: 300px;

}

/****************** End of HCMA Filters *****************/

/******************** HACK FOR FLEX SLIDER *******************/
.flex-direction-nav a {
 /* text-decoration: none;
  display: block;*/
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
 /* position: absolute;
  top: 50%;
  z-index: 10;*/
 overflow: visible;
  opacity: 0;
/*  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;paper
  transition: all 0.3s ease-in-out;*/
}
.flexslider .slides p {
  width:90%;
  margin-left:57px;
}

/************* END OF FLEX SLIDER HACK ***********************/
/*************** Image Text Overlay (On front page) *************/
ul.img-list {
    width: 100%;
    height: 100%;
    margin: 0 0;
    padding: 0 0;
    list-style-type: none;
}
ul.img-list li {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    max-width: 640px;
    height: auto;
    max-height: 640px;
}
span.text-content {
position: absolute;
top: 210px;
left: 0px;
width: 432px;
height: 77px;
background: #39B54A none repeat scroll 0% 0%;
}
ul.img-list li:hover span.text-content {
    opacity: 1;
position: absolute;
top: 137px;
left: 0px;
width: 432px;
background: #39B54A none repeat scroll 0% 0%;
height: 150px;
transition: opacity 500ms ease 0s;
}
span.text-content span a {
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
    margin-right: auto;
    color: #FFFFFF;
    text-align: left;
    text-decoration: none;
    font: 1.2em Georgia;
}
span.text-content span a:hover {
    color: #fff;
    text-decoration: underline;

}

span.dossier {
opacity: 0;
font-style:italic;
	font-weight:bold;
	font: 1.4em Georgia;
}

ul.img-list li:hover span.dossier {
    opacity: 1;
    position: absolute;
	top: 80%;
	left: 5px;
	color: #FFF;

}
/*.dossier:before {
content: url(../images/book_icon.png)	;
margin-top: 3px;
}*/
/************ END OF  Image Text Overlay (On front page) *********/
